/*

https://www.w3schools.com/cssref/css3_browsersupport.asp

Normalize CSS

https://necolas.github.io/normalize.css/

Propriedade box-sizing:

http://www.w3schools.com/cssref/css3_pr_box-sizing.asp

Cantos arredondados:

http://www.w3schools.com/css/css3_borders.asp */